/* --- Geral --- */

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Silkscreen:wght@400;700&display=swap');
* {
    font-family: Silkscreen;
}
header {
    background-color: #2b465f;
}
body {
    background-color: #e4e4e4;
}
main {
    min-height: 100vh;
}
button {
    font-size: 1em !important; 
    padding: 1em !important;
}
img {
    -webkit-user-drag: none;
}

/* --- Loading Spinner --- */

#spinnerContainer {
    min-width: 8rem;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loadingStatus {
    min-width: 6rem;
    min-height: 6rem;
}

/* --- Cartas --- */

.pokemonCardContainer  {
    position: relative;
    width: 11em;
    height: 11.5em;
    margin: 0.5em 1em;
}
.pokemonCard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 500ms ease;
}
.pokemonCardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #C4C4C4;
    border: 5px solid #003a70;
    border-radius: 20px;
}
.pokemonCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    background-color: #003a70;
    border: 5px solid #003a70;
    border-radius: 20px;
    transform: rotateY(180deg);
}
.pokemonCardFlipped {
    transform: rotateY(180deg);
}
.pokemonCard img {
    width: 8em;
}
.pokemonCardFront img {
    filter: drop-shadow(3px 3px 2px #808080);
}
.pokemonCard h1 {
    text-align: center;
    font-size: 1em;
    color: #002f5a;
}
.pokemonCardContainer:hover .pokemonCardFront {
    background-color: #acacac;
    cursor: pointer;
}
.pokemonCardContainer:hover img {
    filter: opacity(80%)
}
.pokemonCardContainer:hover .pokemonCardBack {
    background-color: #002f5a;
    border: 5px solid #002f5a;
    cursor: pointer;
}

/* --- Escolher carta alvo --- */

@keyframes pulseBorder {
    0% {
        border-color: #002f5a;
    }
    50% {
        border-color: #800000;
    }
    100% {
        border-color: #002f5a;
    }
}
.targetCardOption {
    animation: pulseBorder 3s infinite;
}

.gameControls {
    margin: 2em 0 5em 0;
}
.gameControls button {
    margin: 0.5em;
}

/* --- Modais --- */

#inputCodigoExterno {
    border: solid 2px #2b465f;
    border-radius: 10px;
}
#modalFiltrarBtn {
    margin-right: 1.5em;
}
.modal h1 {
    font-size: 1.7em;
}
.modal h3 {
    font-size: 1.3em;
}
.modal p {
    text-align: center;
    font-size: 1em;
}

/* --- Footer --- */

footer {
    background-color: #2b465f;
}
footer p {
    color: #e4e4e4;
}
.footerContainer {
    padding: 3rem 0;
}

/* --- Media Query --- */

@media screen and (max-width: 425px) {
    body {
        font-size: 0.45em;
    }
    .pokemonCard h1 {
        display: none;
    }
    .pokemonCardFront  {
        border: 2px solid #003a70;
    }
}
@media screen and (min-width: 426px) and (max-width: 767px) {
    body {
        font-size: 0.6em;
    }
    .pokemonCardFront  {
        border: 3px solid #003a70;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 0.68em;
    }
    .pokemonCardFront  {
        border: 3px solid #003a70;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        font-size: 0.7em;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1399px) {
    body {
        font-size: 0.8em;
    }
}