header {
    background-color: #2b465f;
}
body {
    background-color: #e4e4e4;
}
#spinnerContainer {
    min-width: 8rem;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loadingStatus {
    min-width: 6rem;
    min-height: 6rem;
}
.pokemonCardContainer  {
    position: relative;
    width: 10rem;
    height: 12rem;
    margin: 0.5rem 0.8rem;
}
.pokemonCard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 500ms ease;
}
.pokemonCardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C4C4C4;
    border: 5px solid #003a70;
    border-radius: 20px;
}
.pokemonCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    background-color: #003a70;
    border: 5px solid #003a70;
    border-radius: 20px;
    transform: rotateY(180deg);
}
.pokemonCardFlipped {
    transform: rotateY(180deg);
}
.pokemonCard img {
    width: 7rem;
    margin: 1rem 0;
    filter: drop-shadow(3px 3px 2px #808080);
}
.pokemonCard h1 {
    font-size: 1.3rem;
}
#inputCodigoExterno {
    border: solid 2px #2b465f;
    border-radius: 10px;
}
#modalFiltrarBtn {
    margin-right: 1.5rem;
}